# Lists

## 1. Creation & Access

In [4]:
# 1. Create a list of 5 favorite fruits and print the second and last fruit.
fruits = ['Banana', 'Apple', 'Orange', 'Jackfruit', 'Pomegranate']

print(f"The fruit at second index is : {fruits[1]}.")
print(f"The fruit at second index is : {fruits[-1]}.")

The fruit at second index is : Apple.
The fruit at second index is : Pomegranate.

In [20]:
# 2. Create a list of numbers from 1 to 10. Access and print elements at even indices.
numbers = []
for i in range(1, 11):
    numbers.append(i)

for i in range(1, len(numbers), 2):
        print(numbers[i])

2
4
6
8
10

## 2. Modification

In [20]:
# 1. Create a list [10, 20, 30, 40] and change the second element to 25.
l = [10, 20, 30, 40]
print(l)

l[1] = 25
print(l)

[10, 20, 30, 40]
[10, 25, 30, 40]

In [21]:
# 2. Append 50 to the list and insert 5 at the beginning.
l.append(50)
print(l)

l.insert(0, 5)
print(l)

[10, 25, 30, 40, 50]
[5, 10, 25, 30, 40, 50]

In [22]:
l.append(30)
print(l)

[5, 10, 25, 30, 40, 50, 30]

## 3. Deletion

In [23]:
# 3. Remove 30 from the list using remove().
l.remove(30)
print(l)

# remove deletes only first occurrence

[5, 10, 25, 40, 50, 30]

In [24]:
# 4. Pop the last element and print it.
l.pop(-1)
print(l)

[5, 10, 25, 40, 50]

## 4. List Operations

In [3]:
# 1. Concatenate [1, 2, 3] and [4, 5, 6].
list1 = [1, 2, 3]
list2 = [4, 5, 6]

print(list1 + (list2))

[1, 2, 3, 4, 5, 6]

In [4]:
# 2. Repeat the list [‘a’, ‘b’] three times.
my_list = ['a', 'b']
print(my_list * 3)

['a', 'b', 'a', 'b', 'a', 'b']

## 5. Slicing

In [26]:
# 1. From [1, 2, 3, 4, 5, 6, 7], print the sublist [3, 4, 5] using slicing.
list1 = [1, 2, 3, 4, 5, 6, 7]
print(list1[2:5])

[3, 4, 5]

In [50]:
# 2. Reverse a list using slicing.
list2 = list1[::-1]
print("Reversed list:", list2)

Reversed list: [7, 6, 5, 4, 3, 2, 1]

## 6. Searching & Counting

In [41]:
# 1. Create a list of colors and check if "blue" is in it.
colors = ['blue', 'green', 'orange', 'pink']

print('blue' in colors)

True

In [42]:
# 2. Count how many times 10 appears in [10, 20, 10, 30, 10].
numbers = [10, 20, 10, 30, 10]
numbers.count(10)

3

## 7. Sorting

In [49]:
# 1. Sort [3, 1, 4, 1, 5, 9] in ascending and descending order.
my_list = [3, 1, 4, 1, 5, 9]

#using sorted() : original list remain unchanged
sorted_list = sorted(my_list)
print(sorted_list)

sorted_list_desc = sorted(my_list, reverse=True)
print(sorted_list_desc)

# Using sort() → changes the list in place
my_list.sort()  
print("Ascending (sort):", my_list)

my_list.sort(reverse=True)
print("Descending (sort):", my_list)

[1, 1, 3, 4, 5, 9]
[9, 5, 4, 3, 1, 1]
Ascending (sort): [1, 1, 3, 4, 5, 9]
Descending (sort): [9, 5, 4, 3, 1, 1]

In [48]:
# 2. Sort a list of strings alphabetically.
alphabets = ['a', 'x', 'r', 't', 'e', 'a']

print(sorted(alphabets))

['a', 'a', 'e', 'r', 't', 'x']

## 8. Copying & Clearing

In [54]:
# 1. Copy a list using copy() and clear the original list.
my_list = [10, 20, 30, 40]

# Copy the list
copied_list = my_list.copy()
print("Copied list:", copied_list)

# Clear the original list
my_list.clear()
print("Original list after clear():", my_list)
print("Copied list remains unchanged:", copied_list)

Copied list: [10, 20, 30, 40]
Original list after clear(): []
Copied list remains unchanged: [10, 20, 30, 40]

# 9. Nested Lists

In [55]:
# 1. Create a 2D list [[1,2,3],[4,5,6],[7,8,9]] and access element 6.
# Create a 2D list
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]

# Access element 6 → row 1, column 2
print(matrix[1][2])

6

In [60]:
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [56]:
print(matrix[2])

[7, 8, 9]

In [57]:
print(matrix[-1][-1])

9

In [58]:
# Flatten the matrix into a single list [1,2,3,4,5,6,7,8,9].
flattened_list = []
for row in matrix:
    for element in row:
        flattened_list.append(element)

print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
# another way to flatten using list comprehension
flattened = [item for row in matrix for item in row]
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## 10. List Comprehension

new_list = [expression for item in iterable if condition]

In [51]:
# 1. Create a list of squares of numbers from 1 to 10 using list comprehension.
my_list = []
for i in range(11):
    my_list.append(i)
    
print(l)

squares = [x * x for x in my_list]

[5, 10, 25, 40, 50]

In [53]:
# 2. From [1,2,3,4,5,6], generate a list of only even numbers using list comprehension. 
original_list = [1,2,3,4,5,6]
print(original_list)

new_list = [num for num in original_list if num % 2 == 0]
print(new_list)

[1, 2, 3, 4, 5, 6]
[2, 4, 6]