# Tuples

## 1. Creation & Access

In [3]:
# 1. Create a tuple of 5 city names. Print the first and last city.
cities = ('Kop', 'Bombay', 'Pune', 'Sydney', 'Canberra')
print(cities[0])
print(cities[-1])

Kop
Canberra

In [4]:
# 2. Create a tuple (10, 20, 30, 40, 50) and access the third element.
numbers = (10, 20, 30, 40, 50) 
numbers[2]

30

## 2. Immutability

In [5]:
# 1. Try modifying the second element of (1, 2, 3) and observe the error.
my_tuple = (1, 2, 3)
my_tuple[1] = 4

TypeError: 'tuple' object does not support item assignment

## 3. Tuple Operations

In [7]:
# 1. Concatenate (1, 2) and (3, 4).
tuple1 = (1, 2)
tuple2 = (3, 4)

tuple3 = tuple1 + tuple2
tuple3

(1, 2, 3, 4)

In [13]:
# 2. Repeat (“hi”,) five times.

# For a single-element tuple, you must include the comma → ("hi",). If you write ("hi"), Python treats it as a string, not a tuple.

# A tuple with one element 
my_tuple = ("hi",)

# Repeat it 5 times
repeated = my_tuple * 5
print(repeated)

('hi', 'hi', 'hi', 'hi', 'hi')

## 4. Slicing

In [15]:
# 1. From (10, 20, 30, 40, 50), extract (20, 30, 40) using slicing.
t1 = (10, 20, 30, 40, 50)
print(t1[1:4])

(20, 30, 40)

## 5. Searching & Counting

In [16]:
# 1. Check if 25 is in (10, 20, 30, 40).
t2 = (10, 20, 30, 40)
print(25 in t2)

False

In [17]:
# 2. Count how many times 5 appears in (1, 5, 5, 2, 5).
t3 = (1, 5, 5, 2, 5)
print(t3.count(5))

3

## 6. Tuple Functions

In [18]:
# 1. Find the length, maximum, and minimum of (3, 1, 4, 1, 5, 9).
t4 = (3, 1, 4, 1, 5, 9)
print(len(t4))
print(max(t4))
print(min(t4))

6
9
1

## 7. Unpacking

In [6]:
# 1. Unpack (10, 20, 30) into variables a, b, c.
t7 = (10, 20, 30)
a, b, c = t7
print(a)
print(b)
print(c)

10
20
30

In [11]:
(a, *b) = t7
print(a)
print(b)

10
[20, 30]

In [12]:
numbers = (10, 20, 30, 40, 50)
(a, *b, c) = numbers

print(a)
print(b)
print(c)

10
[20, 30, 40]
50

## 8. Nested Tuples

In [1]:
# 1. Access the value 9 from (1, (3, 5, (7, 9))).
t5 = (1, (3, 5, (7, 9)))
t5

(1, (3, 5, (7, 9)))

In [2]:
t5[1][2][1]

9

## 9. Conversion

In [5]:
# 1. Convert a tuple (1, 2, 3) into a list, append 4, and convert back to a tuple.
t6 = (1,2,3)
print(f"original tuple: {t6}.")

converted = list(t6)
print(f"converted list: {converted}.")

converted.append(4)
print(f"list after appending: {converted}.")

t6 = tuple(converted)
print(f"new tuple: {t6}")

original tuple: (1, 2, 3).
converted list: [1, 2, 3].
list after appending: [1, 2, 3, 4].
new tuple: (1, 2, 3, 4)

## 10. Applications

In [13]:
# 1. Swap two numbers using tuple unpacking.
# Original values
a = 10
b = 20
print("Original values:")
print("a =", a)
print("b =", b)

# Swap using tuple unpacking
a, b = b, a

print("Swapped values:")
print("a =", a)
print("b =", b)

Original values:
a = 10
b = 20
Swapped values:
a = 20
b = 10