# Dictionaries

## 1. Creation & Access

In [1]:
# Create a dictionary with keys: "name", "age", "city".
dict1 = {'name': 'Alex', 'age': 20, 'city': 'Delhi'}

In [2]:
# Access the value of "city" from the dictionary.
dict1['city']

'Delhi'

In [3]:
dict1.get('city')

'Delhi'

## 2. Modification

In [7]:
# Update the "age" to 25.
dict1['age'] = 25
print(dict1)

{'name': 'Alex', 'age': 25, 'city': 'Delhi', 'country': 'India'}

In [8]:
# Add a new key "country": "India".
dict1['country'] = 'India'

In [9]:
print(dict1)

{'name': 'Alex', 'age': 25, 'city': 'Delhi', 'country': 'India'}

## 3. Deletion

In [10]:
# Delete "city" using del.
del dict1['city']
dict1

{'name': 'Alex', 'age': 25, 'country': 'India'}

In [11]:
# Use pop() to remove "age".
dict1.pop("age")

25

In [12]:
print(dict1)

{'name': 'Alex', 'country': 'India'}

## 4. Dictionary Methods

In [13]:
# Use keys(), values(), and items() on a dictionary.

print(f"The keys are:  {dict1.keys()}")
print(f"The keys are:  {dict1.values()}")
print(f"The items are: {dict1.items()}")

dict1.keys()

The keys are:  dict_keys(['name', 'country'])
The keys are:  dict_values(['Alex', 'India'])
The items are: dict_items([('name', 'Alex'), ('country', 'India')])

dict_keys(['name', 'country'])

In [14]:
# Use get() to safely access a missing key.
dict1.get("name")

'Alex'

In [15]:
dict1.get("city")

## 5. Iteration

In [16]:
# Loop through a dictionary and print all keys.

for key in dict1.keys():
    print(key)

name
country

In [17]:
for key in dict1:
    print(key)

name
country

In [18]:
# Loop through dictionary items and print keys with values.

for key, values in dict1.items():
    print(key, values)

name Alex
country India

In [19]:
for key, values in dict1.items():
    print(f"key: {key} \nvalues: {values}\n\n")

key: name
values: Alex


key: country
values: India

## 6. Nested Dictionaries

In [20]:
# Create a nested dictionary:

student = {
  "name": "Alice",
  "marks": {"math": 90, "science": 85}
}

In [21]:
# Access Alice’s science marks.
student.get('marks').get("science")

85

In [22]:
print(student['marks']['science'])

85

## 7. Dictionary Comprehension

In [23]:
# Create a dictionary {x: x**2 for x in range(5)}.
new_dict = {x : x**2 for x in range(5)}
print(new_dict.values())

dict_values([0, 1, 4, 9, 16])

In [24]:
## 8. Membership & Length

In [25]:
# Check if "age" exists in the dictionary.
if "age" in dict1.keys():
    print("age exists.")
else:
    print("age doesn't exists.")

age doesn't exists.

In [26]:
# Find the length of a dictionary with 5 key-value pairs.
len(new_dict)

5

## 9. Merging

In [27]:
# Merge two dictionaries {"a": 1, "b": 2} and {"c": 3, "d": 4}.
d1 = {"a": 1, "b": 2}
d2 ={"c": 3, "d": 4}

In [28]:
print(d1 | d2)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [29]:
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
merged_dict = {**d1, **d2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# 10. Applications

In [31]:
# count the frequency of characters in banana.
word = "banana"
char_frequency = {}

for char in word:
    if char in char_frequency:
        char_frequency[char] += 1
    else:
        char_frequency[char] = 1

print(char_frequency)

{'b': 1, 'a': 3, 'n': 2}

In [32]:
# Convert two lists ["a", "b", "c"] and [1, 2, 3] into a dictionary using zip().
l1 = ["a", "b", "c"]
l2 = [1, 2, 3]

d2 = dict(zip(l1,l2))
print(d2)

{'a': 1, 'b': 2, 'c': 3}

In [33]:
# Create a dictionary where keys are numbers from 1–5 and values are their cubes.
d3 = {x : x**3 for x in range(1, 6)}
print(d3)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}